#penalty-calculator button,
#penalty-calculator select,
#penalty-calculator input {
  background: none;
  border: 1px solid whitesmoke;
  padding: 10px;
  outline: none;
}
#penalty-calculator button:hover,
#penalty-calculator select:hover,
#penalty-calculator input:hover,
#penalty-calculator table:hover.a:hover {
  transition: 0.2s;
  border: 1px solid lightgrey;
}
#penalty-calculator table {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid lightgrey;
  border-collapse: collapse;
}
#penalty-calculator th,
#penalty-calculator td {
  padding: 5px;
  border: 1px solid lightgrey;
}

#penalty-calculator tr:hover {
  background-color: whitesmoke;
}
#penalty-calculator section {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 50px;
  border: 1px solid lightgrey;
}
#penalty-calculator legend {
  font-size: large;
}
#penalty-calculator label {
  margin: 10px;
}
#penalty-calculator form {
  display: flex;
  flex-direction: column;
}
